.idea/
*.pyc
*.db
# Byte-compiled / optimized / DLL files
/__pycache__/*
*/migrations/*
*.xls
*.xlsx
*.csv
/media/*.log
/media/*.ico
/media/*.jpg
/media/*.jpeg
/media/*.png
/media/*.exe
!.gitkeep
*.py[cod]
*.$py.class
*.sqlite3