<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ MEDIA_URL }}pic/favicon.ico">

    <title>Django应用</title>

    {% load staticfiles %}
	<!-- Bootstrap core CSS -->
	<link href="{% static 'bootstrap-4.1.1/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap-4.1.1/css/jumbotron.css' %}" rel="stylesheet">
	  
	<link href="{% static 'other/css/index.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Django应用</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">博客</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">StockAns</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">系统管理</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">基本信息</a>
              <a class="dropdown-item" href="#">目录管理</a>
              <a class="dropdown-item" href="#">权限管理</a>
            </div>
          </li>
        </ul>
<!--
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
-->
      </div>
	  <div id="login">
		{% if user.is_authenticated %}
		  {{ user.username }}!
		  <a href="{% url 'logout' %}">退出</a>
		  {% else %}
		  <a href="{% url 'login' %}">登录</a>
		  {% endif %}
		</div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Django应用</h1>
          <p>Django是一个开放源代码的Web应用框架，由Python写成。采用了MVC的框架模式，即模型M，视图V和控制器C。它最初是被开发来用于管理劳伦斯出版集团旗下的一些以新闻内容为主的网站的，即是CMS（内容管理系统）软件。并于2005年7月在BSD许可证下发布。这套框架是以比利时的吉普赛爵士吉他手Django Reinhardt来命名的。</p>
          <p><a class="btn btn-primary btn-lg" href="https://baike.baidu.com/item/django/61531?fr=aladdin" role="button" target="_blank">了解更多 &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-6">
            <h2>博客</h2>
            <p>作为一个设计方面的学徒，我仍在持续学习中。我将数据可视化与信息技术相结合来展示数据，将 UI 与前端相结合来创建更好的用户体验，将设计引入技术来创建价值。 </p>
            <p><a class="btn btn-secondary" href="{% url 'blog:blog_list' %}" role="button">进入系统 &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <h2>StockAns</h2>
            <p>作为一个程序员、软件咨询师，我拥有广泛的技术栈：前端领域、物联网领域、移动开发（混合应用、Android 原生）、后台开发。 作为一个活跃的社区贡献者，我长期活跃于GitHub，并创建了相当数量的开源项目。 </p>
            <p><a class="btn btn-secondary" href="#" role="button">进入系统 &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; 向着太阳&nbsp;Email:2463772128@qq.com</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'bootstrap-4.1.1/js/vendor/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{% static 'bootstrap-4.1.1/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.1/js/bootstrap.min.js' %}"></script>
  </body>
</html>
