<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>登录</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'other/css/login.css' %}">
</head>
<body>
  <header>
    <h1>Django应用</h1>
  </header>
  <hr>
  <main>
  <form method="post">
    {% csrf_token %}
	<div class="login">
	  <label for="id_username">用户名:</label>
		{{ form.username }}
		&nbsp;
		<label for="id_password">密码:</label>
		{{ form.password }}
		<button type="submit">登录</button>
	  </div>
  </form>
  </main>
  <hr>
  <footer>
  </footer>
</body>
</html>