<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ MEDIA_URL }}pic/favicon.ico">

    <title>jsTree</title>

	{% load staticfiles %}
    <!-- jsTree core CSS -->
	<link href="{% static 'jsTree/themes/default/style.min.css' %}" rel="stylesheet">
  </head>

  <body>
	<div id="jstree_demo_div">
		<ul>
		<li>Root node</li>
			<ul>
			<li>Child node 1</li>
			<li>Child node 2</li>
			</ul>
		</ul>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="{% static 'bootstrap-4.1.1/js/vendor/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'jsTree/jstree.min.js' %}"></script>

    <!-- Icons -->
    <script>
      $('#jstree_demo_div').jstree();
    </script>
  </body>
</html>
