<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ MEDIA_URL }}pic/favicon.ico">

    <title>jsTree</title>

	{% load staticfiles %}
    <!-- jsTree core CSS -->
	<link href="{% static 'jsTree/themes/default/style.min.css' %}" rel="stylesheet">
  </head>

  <body>
	<div id="container">
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="{% static 'bootstrap-4.1.1/js/vendor/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'jsTree/jstree.min.js' %}"></script>

    <!-- Icons -->
	<script>
	$(function() {
		$('#container').jstree({
			plugins : ["themes"],
			'core' : {
				"themes" : {"icons" : true, "dots" : true},
				'data' : {
					"url" : "{% url 'blog:get_category_data' %}",
					"dataType" : "json" // needed only if you do not supply JSON headers
				}
			}
		});
	});
	</script>
  </body>
</html>
