@charset "utf-8";
/* CSS Document */
html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 90%;
}
#search-text{
	width: 137px;
}
#result-item{
	margin: 0px 10px;
}
#result-item:hover {
	background-color: yellow;
}
#container{
	height: 480px;
}
#data_container{
	width: 96%;
	margin: 0 auto;
}
.table{
	font-size: 85%;
	text-align: center;
	margin: 0!important;
	padding: 0!important;
}
.table th,tr,td{
	margin: 0!important;
	padding: 0!important;
}
