{% extends "stock/stock_base.html" %}
{% block title %}股票名称{% endblock %}
{% block cssadded %}
{% load staticfiles %}
<link href="{% static 'other/css/stock_name.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="name_list">
  <div id="name_table">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" 
        aria-valuemin="0" aria-valuemax="100" style="width: 60%;"> <span id="numprogress"></span> </div>
    </div>
    <div id="operator">
      <div id="name_search">
        <label><span>股票代码：</span></label>
        <input type="text" id="stockcode">
        <input type="button" value="搜索" onClick="search()" />
      </div>
      <div id="time"> <span>开始日期：</span>
        <input id="start_date" name="start_date" type="date" value="2016-01-01" min="2014-01-01" max="2018-12-31" />
        <span>结束日期：</span>
        <input id="end_date" name="end_date" type="date" value="2018-01-01" min="2014-01-01" max="2018-12-31" />
      </div>
      <div id="p_operator">
        <label>批处理操作：</label>
        <input class="downloadcsv" type="submit" mode="p" value="下载全部文件" />
        <input id="delete" type="submit" value="删除全部文件" onclick="pupdatecsv()"/>
        <input id="pupdatedata" type="submit" value="更新全部数据" onclick="pupdatecsv()"/>
      </div>
      <div id="s_operator">
        <label>单处理操作：</label>
        <input class="downloadcsv" type="button" mode="s" value="下载选中文件" />
        <input class="delete" type="button" value="删除选中文件" onclick="deletefile()" />
        <input class="update" type="button" value="更新选中数据" onclick="supdatecsv()" />
      </div>
    </div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <td>选择</td>
          <td>序号</td>
          <td>股票代码</td>
          <td>股票简称</td>
          <td>数据起时间</td>
          <td>数据止时间</td>
          <td>文件名称</td>
          <td>文件更新时间</td>
        </tr>
      </thead>
      <tbody>
      
      {% if stocks %}
      {% for stock in stocks %}
      <tr>
        <td class="stock_check"><input class="choice" type="checkbox" value="aa" /></td>
        <td>{{ stock.id }}</td>
        <td>{{ stock.stockcode }}</td>
        <td>{{ stock.stockabb }}</td>
        <td>{{ stock.min_date }}</td>
        <td>{{ stock.max_date }}</td>
        <td>{{ stock.filename }}</td>
        <td>{{ stock.fupdatetime }}</td>
      </tr>
      {% endfor %}
      {% endif %}
        </tbody>
      
    </table>
  </div>
  <div id="paginator" class="pagination-simple" align="center"> 
    <!-- 如果当前页还有上一页，显示一个上一页的按钮 --> 
    {% if stocks.has_previous %} <a href="?page={{ stocks.previous_page_number }}">上一页</a> {% endif %} 
    <!-- 显示当前页面信息 --> 
    <span class="current">第 {{ stocks.number }} 页 / 共 {{ stocks.paginator.num_pages }} 页</span> 
    <!-- 如果当前页还有下一页，显示一个下一页的按钮 --> 
    {% if stocks.has_next %} <a href="?page={{ stocks.next_page_number }}">下一页</a> {% endif %}
    &nbsp;
    <input type="text" class="page_num" />
    <span>&nbsp;页</span>
    <input class="page_btn" type="button" value="跳转" onclick="page_change()" />
  </div>
</div>
{% endblock %}
{% block jsadded %} 
<script type="text/javascript">
function page_change(){
	var page_num = document.getElementsByClassName("page_num").item(0).value;
	window.location.href = "?page=" + page_num;
	}
function search(){	
}
function getprogressnum(tp){
	$.ajax({
		url: "{% url 'stock:progress' %}",
		type: "POST",
		data:{"type":tp},
		success: function (data) {
			if(data == "100")
			{
				window.location.reload();
				window.clearInterval(timer);
			}
			else
			{
				$(".progress-bar").css("width", data+"%");
				document.getElementById("numprogress").innerHTML = data+"%";
			}
		}
	})
}
function startprogress(){
	$(".progress").css("display", "block");
	$(".progress-bar").css("width","0%");
	document.getElementById("numprogress").innerHTML = "0%";
	var timer=self.setInterval("getprogressnum()",100);
	}
$(document).ready(function(){
	$(".downloadcsv").click(function(){
		var start_date = document.getElementById("start_date").value;
		var end_date = document.getElementById("end_date").value;
		var mode = $(this).attr("mode");
		if(mode == "p"){
			$.ajax({
				url: "{% url 'stock:download_pricedaily_csv' %}",
				type: "POST",
				data: {"dm":"p","start_date": start_date, "end_date": end_date},
				success: function (data) {
					
				}
			})
		}
		if(mode=="s"){
			var chk_value =[];
			$('input[class="choice"]:checked').each(function(){
				chk_value.push($(this).parent().nextAll().eq(1).text());
			});
			$.ajax({
				url: "{% url 'stock:download_pricedaily_csv' %}",
				type: "POST",
				data: {"dm":"s","start_date": start_date, "end_date": end_date,"stockcode":JSON.stringify(chk_value)},
				success: function (data) {
					
				}
			})
		}
		startprogress("download_pricedaily_data")
	})	
})
</script> 
{% endblock %}